<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Recuperar Contraseña</title>
	<% include partials/head %>
</head>
<body id="signup">
	<div class="container">
		<header class="text-left">
			<h5><a href="/"> <i class="fa fa-home"></i> Inicio</a></h5>
		</header>
					
		<h1 class="text-center">
			<span class="fa fa-flushed"></span> 
			Cambiando la contraseña
		</h1>

		<form action="/changepassword" method="POST">
			<input type="hidden" name="email" class="form-control" value='<%= email %>'>
			<input type="hidden" name="codigo" class="form-control" value='<%= codigo %>'>
			<div class="form-group">
				<label for="password">Nueva contraseña</label>
				<input type="password" name="password" class="form-control" required>
				<small class="form-text">
					La contraseña debe estar compuesta por 8 caracteres.
				</small>
			</div>
			<div class="form-group text-right mt-4">
				<input type="submit" class="btn btn-dark btn-lg" value="Cambiar contraseña">
			</div>
		</form>
					
		<div class="text-center">
			<p>¿Ya tienes una cuenta?</p>
			<p><a href="/login">Iniciar Sesión</a></p>
		</div>
	</div>

	<footer class="text-left">
		© • Fes lancer • Octubre 2018 • FES Aragón • ICO
	</footer>

</body>
</html>