<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Fes Lancer</title>
	<% include partials/head %>
</head>
<body id="index">
	<div class="container">
		<header class="row">
			<div class="col-md-4 offset-md-8 text-right">
				<a href="/login" class="btn">Iniciar sesión</a>
				<a href="/signup" class="btn">Regístrate</a>
			</div>
		</header>
		
		<main class="container">
			<h1 class="text-left">FES LANCER</h1>
			<div>
				<h4 class="text-center">¿Necesitas ayuda con tus proyectos escolares?</h4>
				<h5 class="text-center">En Fes Lancer encuentra ayuda de tus compañeros en un instante.</h5>
			</div>
			<h6 class="text-right frase">... Una red de estudiantes para estudiantes ...</h6>
		</main>
	</div>

	<footer class="text-left">
		© • Fes lancer • Octubre 2018 • FES Aragón • ICO
	</footer>
</body>
</html>