#index, #login, #signup, #getpassword, #registro {
    background: url('../IMG/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#index header {
    padding: 10px 0;
}

#index, #login, #signup, #getpassword, #registro {
    font-family: 'Mali', cursive;
    color: #fff;
}

#index .btn {
    border: 1px solid #e9e9e9;
    color: #fff;
    font-family: 'Mali', cursive;
}

#index .btn:hover {
    background: #E2E6EA;
    color: #000;
}

#index h1 {
    margin-bottom: 150px;
}

#index .frase {
    margin-top: 200px;
}

#login small {
    font-size: 14px;
    margin-top: 10px;
}

#login header, #signup header {
    padding: 20px;
}

#login h1 {
    margin: 10px 0 50px 0;
}

#signup h1 {
    margin: 10px 0 80px 0;
}

#login label, #signup label {
    font-size: 20px;
}

#login input[type="text"], #signup input[type="text"] {
    background: rgba(0,0,0,0.5);
}

#login a, #signup a {
    color: #fff;
}

#signup .recuperar {
    color: #721C24;
}

#signup .recuperar:hover {
    color: #D03106;
}

footer {
    width: 100%;
    background: rgba(0,0,0,0.5);
    font-family: Times New Roman;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    z-index: 10;
    padding: 0 10px;
    color: rgba(255,255,255,0.7);
}

#registro footer {
    position: relative;
    margin-top: 50px;
}

.home {
    background: #1A2980;
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
    background: linear-gradient(to right, #26D0CE, #1A2980);
}

.subir{
    padding: 5px 10px;
    background: #f55d3e;
    color:#fff;
    border:0px solid #fff;
    transition: ease all 0.3s;
}
 
.subir:hover{
    color:#fff;
    background: #F87500;
    cursor: pointer;
}

.imgProfileFile {
	display: none;
}

#info {
	margin-bottom: 10px;
}

#habilidades {
    min-height: 200px;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
    margin: 15px 0;
}

.listaHabilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    color: #fff;
    margin-top: 20px;
    padding: 0 20px;
}

.listaHabilidades li {
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid orange;
    margin: 0 10px 10px 0;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.listaHabilidades p {
    color: orange;
    text-decoration: none;
    font-size: 23px;
    margin: -5px 5px 0 0;
    transition: ease all 0.25s;
}

.listaHabilidades p:hover {
    color: #fff;
    cursor: pointer;
}


