.login {
	background: #56ab2f;
	background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
	background: linear-gradient(to right, #a8e063, #56ab2f);
}

.signup {
	background: #000428;
	background: -webkit-linear-gradient(to right, #004e92, #000428);
	background: linear-gradient(to right, #004e92, #000428);
}

.home {
    background: #1A2980;
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
    background: linear-gradient(to right, #26D0CE, #1A2980);
}

.subir{
    padding: 5px 10px;
    background: #f55d3e;
    color:#fff;
    border:0px solid #fff;
    transition: ease all 0.3s;
}
 
.subir:hover{
    color:#fff;
    background: #F87500;
    cursor: pointer;
}

.imgProfileFile {
	display: none;
}

#info {
	margin-bottom: 10px;
}
